@import "tailwindcss";

:root {
  /* Colors from the Figma Screenshot */
  --background: #F5F5F5;
  --workspace_background: #FDFDFD;
  --muted_foreground: #A4A7AE;
  --tab_in_foreground: #535862;
  --border: #D5D7DA;
  --primary_foreground: #000000;
  --primary_background: #000000;
  --tab_active_background: #E9EAEB;
  --secondary_foreground: #FFFFFF;

  /* Existing CSS Variables (updated or kept) */
  --foreground: var(--primary_foreground); /* Mapped to primary_foreground for consistency */ /* Font from the Figma Screenshot */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-workspace-background: var(--workspace_background);
  --color-muted-foreground:var(--muted_foreground);
  --color-tab-in-foreground:var(--tab_in_foreground);
  --color-border:var(--border);
  --color-primary-background: var(--primary_background);
  --color-secondary-foreground: var(--secondary_foreground);
  --font-sans: var(--font-syne-sans);
}

.expand{
  animation-name: expand;
  animation-timing-function: ease;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.slidein{
  animation-name: slidein;
  animation-timing-function: ease;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  opacity: 0;
}

.fadeout{
  animation-name: fadeout;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.center-dom{
  transition: .7s cubic-bezier(0.67,-0.00,0.01,1.00);
}

@keyframes expand{
  0%{
    transform: scaleX(0.78);
    opacity: 0;
  }
  100%{
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes slidein{
  0%{
    transform:translateY(11px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeout{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

/* For modern browsers that support @starting-style */
@starting-style {
  .display-block {
    transform: scaleX(0);
  }
}

@starting-style {
  .display-flex {
    transform: scaleX(0.8);
  }
}

@starting-style{
  .user-text{
    opacity: 0;
  }

}

body {
  background: var(--background);
 /* Using the new font variable */
 box-sizing: border-box;
}